<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                    <i class="bi bi-house"></i>
                    Categorías
                </a>
                <a class="nav-link active" aria-current="page" href="/as">
                    <i class="bi bi-house"></i>
                    Clientes
                </a>
                <a class="nav-link active" aria-current="page" href="/proveedores">
                    <i class="bi bi-house"></i>
                    Proveedores
                </a>
                <a class="nav-link active" aria-current="page" href="/sd">
                    <i class="bi bi-house"></i>
                    Productos
                </a>
                <a class="nav-link active" aria-current="page" href="/sd">
                    <i class="bi bi-house"></i>
                    Membresias
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">
                    <i class="bi bi-patch-question"></i>
                    About
                </a>
            </li>
        </ul>
    </div>
</nav>